name: Exercice 2 - Test addition

on:
  push:
    branches: [ "main" ]
  # Ajout recommandé pour tester aussi les Pull Requests
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Récupération du code
        uses: actions/checkout@v4

      - name: Installation de Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm' # Accélère l'installation des dépendances

      - name: Installation des dépendances (Clean Install)
        run: npm ci # Plus sûr et plus rapide que npm install en CI

      - name: Exécution des tests
        run: npm test